USE StockDB
GO
/* 
Run this script on: 
 
        172.16.16.106.StockDB    -  This database will be modified 
 
to synchronize it with: 
 
        ..StockDB 
 
You are recommended to back up your database before running this script 
 
Script created by SQL Compare version 12.0.33.3389 from Red Gate Software Ltd at 2/25/2020 11:24:05 PM 
 
*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Dropping constraints from [dbo].[Package]'
GO
ALTER TABLE [dbo].[Package] DROP CONSTRAINT [DF_Package_PrimaryQuantityWaiting]
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Dropping constraints from [dbo].[Package]'
GO
ALTER TABLE [dbo].[Package] DROP CONSTRAINT [DF_Package_PrimaryQuantityRemaining]
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[InventoryDetail]'
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[InventoryDetail] ALTER COLUMN [PrimaryQuantity] [decimal] (32, 16) NOT NULL 
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[InventoryDetail] ALTER COLUMN [ProductUnitConversionQuantity] [decimal] (32, 16) NOT NULL 
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[Package]'
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[Package] ALTER COLUMN [PrimaryQuantityWaiting] [decimal] (32, 16) NOT NULL 
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[Package] ALTER COLUMN [PrimaryQuantityRemaining] [decimal] (32, 16) NOT NULL 
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[Package] ALTER COLUMN [ProductUnitConversionWaitting] [decimal] (32, 16) NOT NULL 
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[Package] ALTER COLUMN [ProductUnitConversionRemaining] [decimal] (32, 16) NOT NULL 
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[StockProduct]'
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[StockProduct] ALTER COLUMN [PrimaryQuantityWaiting] [decimal] (32, 16) NOT NULL 
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[StockProduct] ALTER COLUMN [PrimaryQuantityRemaining] [decimal] (32, 16) NOT NULL 
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[StockProduct] ALTER COLUMN [ProductUnitConversionWaitting] [decimal] (32, 16) NOT NULL 
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[StockProduct] ALTER COLUMN [ProductUnitConversionRemaining] [decimal] (32, 16) NOT NULL 
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[PackageRef]'
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[PackageRef] ALTER COLUMN [PrimaryQuantity] [decimal] (32, 16) NULL 
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[PackageRef] ALTER COLUMN [ProductUnitConversionQuantity] [decimal] (32, 16) NULL 
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Adding constraints to [dbo].[Package]'
GO
ALTER TABLE [dbo].[Package] ADD CONSTRAINT [DF_Package_PrimaryQuantityWaiting] DEFAULT ((0)) FOR [PrimaryQuantityWaiting]
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[Package] ADD CONSTRAINT [DF_Package_PrimaryQuantityRemaining] DEFAULT ((0)) FOR [PrimaryQuantityRemaining]
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
COMMIT TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
DECLARE @Success AS BIT 
SET @Success = 1 
SET NOEXEC OFF 
IF (@Success = 1) PRINT 'The database update succeeded' 
ELSE BEGIN 
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION 
	PRINT 'The database update failed' 
END
GO
